{% extends "main.html" %}

{% load staticfiles %}
{% block title %} TaskList:: Создание Задачи {% endblock %}

{% block bc_level_1 %}
    <li><a href={% url "tasklist_detail" pk=tasklist.pk %}>Детали Списка</a> </li>
{% endblock %}

{% block bc_level_2 %}
        <li><a href="">Новая задача</a> </li>
{% endblock %}


{{% block main %}
    <div class="flex-container_column">
         <div class="form flex-block">
             <h2>Создание задачи</h2>
             <form action="" method="post">
                 {% include "generic/form.html" %}
                 <div class="submit-button"><input type="submit" value="Создать"></div>
             </form>
         </div>
    </div>
{% endblock %}

